body {
  margin-top: 50px;
  background-image: url("https://awesomewallpapers.files.wordpress.com/2016/01/nebula-2710ceb3c3a7c3a5x1694-16x10.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  font-family: sans;
  color: #F5F5F5;
  text-align: center;
}

li {
  padding-bottom: 5px;
}

i {
  padding-top: 20px;
}

/* Wrapper */

main {
  background-color: #292929;
  padding: 0 0 20px 0;
  border-radius: 4px;
  margin-left: 8%;
  margin-right: 8%;
  min-width: 250px;
}

/* Header */

header {
  background: #474747;
  margin: 10px 0 5px 0;
  padding: 25px 0 25px 0;
}

.title {
  text-align: center;
  font-size: 3em;
  margin: 10px 0 10px 0;
  padding: 0 0 5px 0;
  color: #66C7B2;
}

.subtitle {
  text-align: center;
  font-size: 1.1em;
  font-weight: normal;
  color: #F5F5F5;
  padding-bottom: 5px;
}

/* Misc Formatting */

.margin-top {
  margin-top: 18px;
}

.center {
  text-align: center;
}

.indent {
  text-indent: 1.5em;
  margin-bottom: 0;
  line-height: 1.7;
  text-align: left;
  font-size: 1.09em;
}

/* Nav Menu */

nav {
  padding: 20px 0 0 0;
}

.nav-list {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #292929;
}

.nav-link {
  display: block;
  text-align: center;
  padding: 14px 16px;
  font-size: 1.2em;
}

a:link, a:visited, a:active {
  color: #66C7B2;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

.nav-li {
  float: left;
}

/* Main Image */

img {
  max-width: 100%;
  height: auto;
  width: 80%;
  display: block;
  margin: 0 auto;
  border: 4px solid #474747;
  padding: 5px 5px 0 5px;
  background: #474747;
}

.img-div {
  padding-top: 20px;
  padding-bottom: 4px;
}

.img-caption {
  text-align: center;
  background-color: #474747;
  margin: 0 auto;
  padding: 10px 5px 10px 5px;
  width: 80%;
  border: 4px solid #474747;
  font-size: 1.05em;
}

/* Biography Section */

.bio {
  padding: 16px 10% 0 10%;
}

.bio-header {
  font-size: 24px;
  padding: 10px 0 10px 0;
  margin: 0;
  color: #F5F5F5;
}

.bio-icon {
  color: #66C7B2;
}

/* Quotes Section */

q {
  display: block;
  text-align: center;
  line-height: 1.5;
  padding: 25px 10px 25px 10px;
}

q:first-of-type {
  margin-top: 18px;
}

.sagan-quotes {
  padding: 16px 10% 0 10%;
}

.sagan-quotes q:nth-of-type(odd) {
  background: #474747;
  border-left: 10px solid #66C7B2;
}

.sagan-quotes-header {
  padding: 10px 0 15px 0;
  margin: 0;
  color: #F5F5F5;
}

.quote-icon {
  color: #66C7B2;
}

/* Awards Section */

.awards {
  padding: 0 10% 0 10%;
}

.awards-header {
  padding: 10px 0 20px 0;
  margin: 0;
  color: #F5F5F5;
}

.awards-list {
  list-style-type: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

.awards-list :nth-of-type(odd) {
  background: #474747;
}

.awards-list li {
  display: block;
  text-align: center;
  line-height: 1.5;
  padding: 25px 10px 25px 10px;
}

.awards-icon {
  color: #66C7B2;
}

/* Footer blockquote */

blockquote {
  background: #474747;
  border-left: 10px solid #66C7B2;
  margin: 1.9em 10px 1.5em 10px;
  padding: 0.5em 1px 1em 10px;
}

.quote {
  max-width: 1200px;
  margin: 0 auto;
}

.seperator p {
  margin: 0;
  font-size: 1.5em;
  font-weight: 800;
  color: #66C7B2;
}

/* Link to github */

.name {
  color: white;
  text-shadow: 0 4px 3px rgba(0, 0, 0, 0.4), 0 8px 13px rgba(0, 0, 0, 0.1), 0 18px 23px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.name-link :hover {
  text-decoration: underline;
}

/* Link to Wikipedia */

.wiki-p {
  padding: 0;
  margin-top: 0;
}

.wiki-p :hover {
  text-decoration: underline;
}

/* Mobile Responsive */

@media only screen and (max-width: 425px) {
  body {
    margin-top: 50px;
    background: linear-gradient(#3BA091, #585858);
    font-family: sans;
    color: #F5F5F5;
    text-align: center;
  }
  main {
    margin: 0 auto;
  }
  header {
    background: #474747;
    margin: 10px 0 5px 0;
    padding: 25px 10px 25px 10px;
  }
  nav {
    width: 260px;
    margin: 0 auto;
    padding-top: 20px;
  }
  .nav-list {
    list-style-type: none;
    padding: 0;
  }
  .nav-link {
    float: none;
    background: #474747;
    text-align: center;
    width: 230px;
  }
  .indent {
    margin-bottom: 0;
    line-height: 1.7;
    text-align: center;
    font-size: 1.09em;
  }

}
