body {
  margin-top: 60px;
  background-image: url("https://awesomewallpapers.files.wordpress.com/2016/01/nebula-2710ceb3c3a7c3a5x1694-16x10.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  color: black;
}

#main {
  background-color: #eee;
  padding: 10px 15px 20px 15px;
  border-radius: 20px;
  margin-left: 15%;
  margin-right: 15%;
  min-width: 400px;
}

img {
  max-width: 100%;
  height: auto;
  width: 80%;
  display: block;
  margin: 0 auto;
  border: 3px solid white;
}

#img-div {
  background-color: #eee;
  padding-top: 20px;
  padding-bottom: 20px;
}

#tribute-info, #awards {
  padding: 16px 15% 0px 15%;
}

#quote {
  max-width: 1000px;
  margin: 0 auto;
}

#img-caption {
  text-align: center;
  background-color: #fff;
  margin: 0 auto;
  padding: 10px 0px 10px 0px;
  width: 80%;
  border: 3px solid white;
}

h4, h2, {
  text-align: center;
}

hr {
  margin-top: 0px;
  margin-bottom: 0px;
  border: 0;
  height: 1px;
  background-image: linear-gradient( to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

ul {
  max-width: 800px;
  margin: 0 auto;
  text-align: left;
}

li {
  padding-bottom: 5px;
}

blockquote {
  background: #eee;
  border-left: 10px solid #5d428b;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}

a:link, a:visited {
  text-decoration: none;
}

.indent {
  text-indent: 1.5em;
  margin-bottom: 0px;
  line-height: 1.5;
}

.center {
  text-align: center;
}

#footer {
  color: white;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
}

#trophy {
  font-size: 2.5em;
  padding-bottom: 0px;
}

#info {
  font-size: 2.5em;
  padding-bottom: 0px;
}

#title {
  text-align: center;
  font-size: 2.3em;
}

#subtitle, #link, #footer {
  text-align: center;
}
